<div class="class">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Create two new Components</li>
        <li>Output them beneath each other in the Application</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately</li>
      </ol>
      <p>Use external or internal templates and styles!</p>
      <p>Feel free to create new Components, nest them into each other or play around with different types of selectors</p>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>
